<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spring AI</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
	<div class="d-flex flex-column vh-100">
	  <div id="headPanel" class="navbar justify-content-between">
	    <a href="/" class="navbar-brand ps-2">
	      <img src="/image/spring_ai_logo_with_text.svg" width="200" />
	    </a>>
	  </div>	
	
	  <div class="card m-2">
			<div class="card-header">
				도구 호출
			</div>
			<div class="card-body">
				<a href="/date-time-tools" class="btn btn-info btn-sm m-1">date-time-tools(알람설정)</a>
				<a href="/heating-system-tools" class="btn btn-info btn-sm m-1">heating-system-tools(온도설정)</a>
				<a href="/recommend-movie-tools" class="btn btn-info btn-sm m-1">recommend-movie-tools(영화추천)</a>				
        <a href="/internet-search-tools" class="btn btn-info btn-sm m-1">internet-search-tools(인터넷검색)</a>
			</div>
	  </div>
	</div>
</body>

</html>